.wrapper {
  display: flex;
  align-items: center;
  gap: 100px;
  .profile {
    section {
      min-width: 240px;
      & + section {
        margin-top: var(--primary-padding);
      }
      h3 {
        font-size: 14px;
        color: #cccccc;
        margin-bottom: 10px;
      }
      p {
        font-size: 18px;
      }
    }
  }
  .slogan {
    flex-grow: 1;
    text-align: center;
  }
}
