@keyframes rotation {
  from {
    transform: rotateX(-10deg) rotateY(0deg);
  }
  to {
    transform: rotateX(-10deg) rotateY(360deg);
  }
}

@keyframes skillAnimation {
  0%,
  10% {
    transform: scale(1);
  }
  40%,
  100% {
    transform: scale(0.7);
  }
}

@keyframes imageAnimation {
  0%,
  10% {
    width: 0px;
    height: 0px;
    opacity: 0;
  }
  40% {
    height: 300px;
    width: 300px;
    opacity: 0;
    margin-left: 0px;
  }
  50%,
  100% {
    height: 300px;
    width: 300px;
    opacity: 1;
    margin-left: 100px;
  }
}

@keyframes light {
  0% {
    filter: drop-shadow(0px 0px 6px #ffffff);
  }
  50% {
    filter: drop-shadow(0px 0px 15px #ffffff);
  }
  100% {
    filter: drop-shadow(0px 0px 6px #ffffff);
  }
}

.wrapper {
  height: 1800px;
  position: relative;
  .animation {
    height: calc(100vh - var(--header-height));
    position: sticky;
    top: var(--header-height);
    left: 0;
    right: 0;
    .row {
      display: flex;
      align-items: center;
      justify-content: center;
      height: fit-content;
    }
    .knowledge {
      margin-top: 30px;
      animation:
        imageAnimation 1s linear var(--delay, 0s) paused both,
        light 2s linear 0s infinite;
      object-fit: contain;
    }
    .skills {
      --card-height: 140px;
      --card-width: 105px;
      --radius: 320px;
      perspective: 1000px;
      position: relative;
      width: 700px;
      margin: 0 auto;
      animation: skillAnimation 1s linear var(--delay, 0s) paused both;
      .img {
        width: 200px;
        height: 200px;
        background-color: red;
        position: absolute;
        top: 0;
        left: 0;
      }
      .stack {
        position: relative;
        height: calc(var(--card-height) * 2);
        transform-style: preserve-3d;
        animation: rotation 20s linear infinite;
        .card {
          transform: rotateY(calc(var(--rotateY, 0) * 1deg)) translateZ(var(--radius));
          position: absolute;
          width: var(--card-width);
          height: var(--card-height);
          top: 50%;
          left: 50%;
          margin-top: calc(0px - var(--card-height) / 2);
          margin-left: calc(0px - var(--card-width) / 2);
          border-radius: 8px;
          box-shadow: 0 0 8px #fff;
          color: var(--primary-color);
          background: #ffffff;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 10px;
          img {
            width: 80px;
            height: 80px;
            object-fit: contain;
          }
          .text {
            font-size: 14px;
            text-align: center;
          }
        }
      }
    }
  }
}
