.wrapper {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: var(--header-height);
  background-color: var(--seconday-bg-color);
  .header {
    width: var(--page-width);
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px var(--primary-padding);
    margin: 0 auto;
    box-sizing: border-box;
    .title {
      h1 {
        font-size: 30px;
        letter-spacing: 6px;
      }
      h2 {
        font-size: 16px;
        font-weight: 300;
      }
    }
    nav {
      --item-width: 110px;
      --size: 40px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      height: var(--size);
      line-height: var(--size);
      border-radius: var(--border-radius);
      font-size: 16px;
      .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: var(--item-width);
        position: relative;
        cursor: pointer;
        color: #ffffff;
        text-decoration: none;
        .preffix {
          height: 35px;
          width: 35px;
          margin-right: 4px;
        }
        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          height: 10px;
          width: 10px;
          border-top: 2px solid var(--primary-color);
          border-left: 2px solid var(--primary-color);
          transition: all 0.7s ease-in-out;
          box-sizing: border-box;
        }
        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          right: 0;
          height: 10px;
          width: 10px;
          border-bottom: 2px solid var(--primary-color);
          border-right: 2px solid var(--primary-color);
          transition: all 0.7s ease-in-out;
          box-sizing: border-box;
        }
        &:hover {
          background-color: var(--primary-color);
          box-shadow: 0 0 50px var(--primary-color);
          transition:
            background-color 0.4s ease-in-out 0.3s,
            box-shadow 0.4s ease-in-out 0.3s;
          &::before {
            height: 100%;
            width: 100%;
          }
          &::after {
            height: 100%;
            width: 100%;
          }
        }
      }
    }
  }
}
