@keyframes rotationYAnimation {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

.rotationY {
  animation: rotationYAnimation 20s linear infinite both;
}

.rotationX {
  transform: rotateX(-10deg);
  transform-style: preserve-3d;
}

@keyframes scaleAnimation {
  0%,
  20% {
    transform: scale(1);
    opacity: 1;
  }
  60%,
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

.scale {
  flex-grow: 1;
  transform-style: preserve-3d;
  animation: scaleAnimation 1s linear var(--delay) both paused;
}

.cardScale {
  transition: transform 0.5s ease-in-out;
  &:hover {
    transform: scale(1.2);
  }
}

@keyframes gridAnimation {
  0%,
  60% {
    opacity: 0;
    transform: translateX(-50%) translateY(-50%) scale(0);
  }
  75% {
    opacity: 1;
    transform: translateX(-50%) translateY(-50%) scale(0.3);
  }
  90%,
  100% {
    opacity: 1;
    transform: translateX(-50%) translateY(-50%) scale(1);
  }
}

.wrapper {
  height: 1800px;
  position: relative;
  .animation {
    --radius: 320px;
    --card-height: 140px;
    --card-width: 105px;
    height: calc(100vh - var(--header-height));
    position: sticky;
    top: var(--header-height);
    left: 0;
    right: 0;
    .perspective {
      perspective: 1500px;
      display: flex;
      justify-content: center;
      position: relative;
      .task {
        height: 400px;
        position: relative;
        transform-style: preserve-3d;
      }
    }
    .grid {
      position: absolute;
      top: 50%;
      left: 50%;
      height: 60vh;
      width: 100%;
      animation: gridAnimation 1s linear var(--delay) both paused;
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      place-items: center;
      .gridItem {
        position: relative;
        top: unset;
        left: unset;
        margin-top: unset;
        margin-left: unset;
      }
    }
  }
}
